.sessao-depoimentos{
    background-color: var(--color-primary);
    margin-top: -1px;
}

.depoimentos-display{
    display: flex;
    flex-direction: column;
}

.content-depoimentos{
    padding-top: 5rem;
    text-align:  center;
}

.content-nome{
    padding-top: 2rem;
    color: #000;
    max-width: 27.687rem;
    margin: auto;
}

.content-depoimentos h2{
    font-size: 3.125rem;
    letter-spacing: -2px;
}

.content-depoimentos h3{
    font-size: .875rem;
    letter-spacing: 3px;
    font-weight: 400;
    padding-bottom: 1.812rem;
}

.content-descricao{
    margin:  auto;
    max-width: 36.812rem;
    font-size: .937rem;
    line-height: 1.875rem;
    color: #000;
    text-align: center;
    padding-bottom: 2.9375rem;
}


.content-depoimentos img{
    margin: auto;
}

