.hero{
    height: 34.625rem;
}

.hero img{
    position: absolute;
    z-index: -1;
    object-fit: contain;
    object-position: center;
}

.hero-content{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 7rem 1.875rem;
    width: 50vw;
}

.hero-content h2{
    font-size: 7.5rem;
    color: var(--color-primary);
    letter-spacing: -.3125rem;
    line-height: 7.5rem;
    margin-bottom: 3rem;
}

.hero-content p{
    color: var(--color-content-alt);
    font: .9375rem;
    line-height: 1.875rem;
}