*{
    margin: 0;
    padding: 0;
}

/* Mobile */
:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.25vw;
    color: var(--color-paragrafo);
}

/* Tablet */
@media screen and(min-width: 719px ){
    :root{
        font-size: 2.25vw;
    }
}

/* Desktop */
@media screen and(min-width: 1279px ){
    :root{
        font-size: 16px;
    }
}

html{
    overflow-x: hidden;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-self: end;
}

.container{
    max-width: 1148px;
    margin: 0 auto;
}

.logo{
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    font-size: 2.375rem;
    line-height: 1ch;
}

.logo-subtitle{
    font-weight: 300;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
}

.logo a{
    text-decoration: none;
    color: #fff;
}