.btn{
    padding: 1rem 2.5rem;
    background-color: unset;
    color: var(--color-primary);
    border: .125rem solid #fff;
    border-radius: 5rem;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn-institutional {
    border-color: var(--color-primary);
    background-color: #ffc500;
    color: #fff;
}

/* Botão da sessão institucional */
.btn-institutional:hover{
    color: var(--color-paragrafo);
    background: unset;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.349);
}

/* Mobile */
.btn-institutional, 
.btn-quote{
    display: block;
    margin: 0 auto;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .btn-institutional,
    .btn-quote{
        display: inline;
    }
}

/* Botão sessão quote */
.btn-quote{
    color: var(--color-paragrafo);
    border-color: var(--color-paragrafo);
    background: unset;
}

/* Tablet */
@media screen and (min-width: 719px){
    .btn-quote{
        color: var(--color-primary);
        border-color: var(--color-primary);
    }
}

.btn_evento{
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    width: 214px;
    height: 51px;
    border-radius: 25px;
    background-color: var(--color-primary);
    color: #fff;
    border: unset;
    cursor: pointer;
    transition: .5s all ease;
}  

.btn_evento:hover{
    color: var(--color-paragrafo);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.349);
    border-color: var(--color-primary);
}

/* Botão destaque eventos */
.btn_evento_destaque{
        font-size: 15px;
        font-weight: 700;
        line-height: 24px;
        border-radius: 25px;
        color: var(--color-primary);
        background-color: unset;
        text-transform: uppercase;
        border: unset;
        cursor: pointer;
        transition: .5s all ease;
}


    




