/* Mobile */
.footer{
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
    align-items: center;
    margin-top: -5px;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .footer{
        margin-top: unset;
    }
}

/* Mobile */
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:  3rem;
}
/* Desktop */
@media screen and (min-width: 1279px){
    .footer-container{
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        padding: 5.25rem 0;
    }
}

.footer .logo{
    justify-self: start;
    margin: 0;
}

.footer-container h2{
    padding-bottom: 1rem;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .footer-form{
        display: grid;
    }
    .footer-container h2{
        padding-bottom: unset;
    }
}

.footer-form label{
    font-size: .875rem;
    font-weight: 300;
}

.footer-email{
    width: 100%;
    display: grid;
    grid-template-columns: auto 3.375rem;
}

.footer-form input{
    background-color: var(--color-primary);
    border: unset;
    padding: 1rem;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.footer-form input::placeholder{
    color: #000;
}
.footer-form input:focus{
    outline: unset;
}

.footer-form button{
    border: unset;
    height: 100%;
    cursor: pointer;
    transition: 0.3s all ease;
}

.footer-form button:hover{
    color: #fff;
    background-color: var(--color-paragrafo);
}

/* Mobile */
.footer-social{
    display: flex;
    padding-top: 1rem;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .footer-social{
        justify-self: end;
        text-align: center;
    }
}

.footer ul li {
    list-style: none;
    padding-bottom: 1rem;
}

.footer-social a,
.footer-social a:visited,
.footer-social a{
    color: #fff;
    margin-left: 0.2rem;
}

.footer-social a .fa-twitter,
.footer-social a:visited .fa-twitter,
.footer-social a .fa-twitter{
    color: #000;
}

.footer hr{
    border-color: #fff4;
    margin: 0;
}

.footer p{
    text-align: center;
    font-size: .875rem;
    font-weight: 300;
    padding: 2.5rem 0;
}





