.hero{
    height: 90vh;
}

/* Mobile */
.hero img{
    position: relative;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

/* Desktop */
@media screen and (min-width:1280px){
    .hero img{
        position: relative;
        z-index: -1;
        object-fit: cover;
        object-position: center;
        height: 100%;
        margin-left: -3px;
    }
}

/* Mobile */
.hero-content{
    position: absolute;
    left: 0;
    bottom: 4rem;
    padding: 7rem 0;
    text-align: center;
    width: 100%;
}

/* Tablet */
@media screen and (min-width: 720px){
    .hero-content{
        top: 30%;
        padding: 0 1rem;
    }
}

/* Desktop */
@media screen and (min-width:1280px){
    .hero-content{
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 35vw;
    }
}

/* Mobile */
.hero-content h2{
    font-size: 5rem;
    color: var(--color-primary);
    letter-spacing: -.3125rem;
    line-height: 7.5rem;
    margin-bottom: 3rem;
}

/* Desktop */
@media screen and (min-width:1280px){
    .hero-content h2{
        font-size: 7.5rem;
    }
}

.hero-content h6{
    color: var(--color-primary);
    font-size: 0.9375rem;
    text-transform: uppercase;
    font-weight: 400;
}

/* Mobile */
.hero-content p{
    color: var(--color-content-alt);
    font-size: 1.2rem;
    line-height: 1.875rem;
    padding: 0 1rem;

}

/* Desktop */
@media screen and (min-width:1280px){
    .hero-content p{
        width: 50ch;
        font-size: .9375rem;
        padding: unset;
    }
}
