
/* Sessão Slide */
.slider{
    background-color: #000;
    color: #fff;
}

.slider-prev-arrow{
    left: 1rem;
    z-index: 1;
    transform: rotate(-45deg);
}

.slider-next-arrow{
    right: 1rem;
    transform: rotate(135deg);
}

.slider-prev-arrow::before,
.slider-next-arrow::before{
    content: '';
}

.slider-prev-arrow,
.slider-next-arrow{
    width: 2.5rem;
    height: 2.5rem;
    border: 5px solid #fff;
    border-right: unset;
    border-bottom: unset;
}

/* Mobile */
.slick-arrow{
    visibility: hidden;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .slick-arrow{
        visibility: visible;
    }
}

.slide {
    height: 90vh;
    position: relative;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Mobile */
.content{
    position: absolute;
    top: 16rem;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.content span{
    display: block;
}

/* Tablet */
@media screen and (min-width: 719px){
    .content{
        text-align: unset;
        left: 70vw;
        top: 30vh;   
    }
    .content-center{
        left: 50%;
        text-align: center;
    }
}

/* Desktop */
@media screen and (min-width: 1279px){
    .content{
        text-align: unset;
        left: 70vw;
        top: 30%;
        
    }
    .content span{
        display: inline;
    }
}

.content h6{
    font-size: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
}

/* Mobile */
.content h2{
    font-size: 4.25rem;
    text-transform: uppercase;
    line-height: 4.25rem;
}

/* Tablet */
@media screen and (min-width: 719px){
    .content h2{
    padding: 1rem 0;  
    }
}

/* Desktop */
@media screen and (min-width: 1279px){
    .content h2{
        font-size: 6.25rem;
        line-height: 6.25rem;
        padding: 1rem 0;
    }
}

.content h2 span{
    display: block;
}

.content span{
    color: var(--color-primary);
}


/* Sessão Cunter*/

#counter{
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
}

/* Mobile */
#counter ul{
    padding: 4.375rem;
    display: flex;
    flex-direction: column;
}

/* Desktop */
@media screen and (min-width: 1279px){
    #counter ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

#counter ul li{
    text-align: center;
    list-style: none;
    padding: 1rem 0;
}

#counter h3{
    font-size: 2.1875rem;
}

#counter h3 small{
    font-size: 1.25rem;
}


/*Sessão Institucional */
/* Mobile */
.institutional{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    align-items: center;
    padding: 0 0 4.375rem 0 ;
}

/* Tablet */
@media screen and (min-width: 719px){
    .institutional{
        max-width: 670px;
    }
}

/* Desktop */
@media screen and (min-width: 1279px){
    .institutional{
        flex-direction: row;
        padding: 4.375rem;
        max-width: unset;
    }
}

/* Mobile */
.institutional img{
    max-width: 100vw;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .institutional img{
        max-width: 550px;
    }
}

/* Mobile */
.institucional-content{
   padding: 0 1rem 1.875rem 1rem;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .institutional-content{
        padding: 1.875rem;
     }
}

.institutional h6{
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin:0;
}

.institutional h4{
    font-size: 1.562rem;
    margin-top: 1rem;
}

/* Mobile / Desktop */
.institutional p{
    font-size: 1.0625rem;
    line-height: 1.6875rem ;
    font-family: 'Roboto', sans-serif;
    margin: 2.5rem 0;
}

/* Tablet */
@media screen and (min-width: 719px){
    .institutional p{
        font-size: 1.3rem;
     }
}


/* Sessão Quote */
.quote{
    background-image: url(../images/home/parallax.jpg);
    background-repeat: no-repeat;
    background-size: auto 40%;
    background-position: 40% top;
}

/* Tablet */
@media screen and (min-width: 719px){
    .quote{
        background-size: contain;
        background-attachment: fixed;  
        background-size: cover;
        background-position: center ;  
    }
}

/* Desktop */
@media screen and (min-width: 1279px){
    .quote{
        background-attachment: fixed;  
        background-size: cover;
        background-position: center ;  
    }
}

/* Mobile */
.container-quote{
    display: grid;
    align-items: end;
    justify-items: end;
    min-height: 80vh;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .container-quote{
        max-width: 1148px;
        align-items: center;
        margin: 0 auto;
    }
}
/* Mobile */
.quote-content{
    background-color: #fff;
    padding: 1rem;
    margin: 7rem 0;
}

/* Tablet */
@media screen and (min-width: 719px){
    .quote-content{
        text-align: center;
        background-color: #000000d7;
        color: #fff;
        padding: 3rem 0;
        margin: auto;
    }
}

/* Desktop */
@media screen and (min-width: 1279px){
    .quote-content{
        padding: 5.625rem 4.375rem;
        background-color: #fff;
        color: #000;
        padding: 1rem;
        margin: 7rem 0;
    }
}

/* Mobile */
.quote-content h6{
    font-weight: 400;
    font-size: .8rem;
    letter-spacing: .1875rem;
    line-height: 1.4375rem;
    text-transform: uppercase;
    margin: 0;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .quote-content h6{
        width: 53ch;
    }
}

/* Mobile */
.quote-content h2{
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: -.1875rem;
    line-height: 4rem;
    justify-content: start;
    padding: 2rem 0;
}

.quote-content h2 span{
    display: block;
}

/* Desktop */
@media screen and (min-width: 1279px){
    .quote-content h6{
        font-size: .9375rem;
    }
    
    .quote-content h2{
        font-size: 5rem;
        line-height: 5rem;
        margin: 1.875rem;
    }
}