@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/fontawesome.min.css');




*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-primary:#ffc500;
    --color-paragrafo: #333;
    --default-padding: 1rem;
    color: var(--color-paragrafo);
}
body{
    padding-top: 7em;
}
header,
main,
footer{
    overflow-x: hidden;
}

.container{
    max-width: 1148px;
    margin: 0 auto;
}

.navbar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.navbar .container{
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    height: 3rem;
    padding: 2rem;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-self: end;
}

.navbar ul li{
    margin-right: 3rem;
    font-size: .875rem;
    text-transform: uppercase;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    font-weight: 300;
}

.navbar ul li a:hover{
    color: var(--color-primary) ;
}

.logo{
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    font-size: 2.375rem;
    line-height: 1ch;
}

.logo-subtitle{
    font-weight: 300;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
}

.copy-primary{
    color: var(--color-primary);
}

/* Sessão Slide */
#slider{
    background-color: #000;
    color: #fff;
}

.slide {
    height: calc(90vh - 7rem);
    position: relative;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content{
    position: absolute;
    top: 6.25rem;
    left: 50%;
}

.content h6{
    font: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
}

.content h2{
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.content h2 span{
    display: block;
}

.content span{
    color: var(--color-primary);
}

.btn{
    padding: 1rem 2.5rem;
    background-color: unset;
    color: var(--color-primary);
    border: .125rem solid #fff;
    border-radius: 5rem;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn-institutional {
    border-color: var(--color-primary);
    background-color: #ffc500;
    color: #fff;
}

/* Sessão Cunter*/

#counter{
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
}

#counter ul{
    padding: 4.375rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#counter ul li{
    text-align: center;
    list-style: none;
}

#counter h3{
    font-size: 2.1875rem;
}

#counter h3 small{
    font-size: 1.25rem;
}

/*Sessão Institucional */
.institutional{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem;
}

.institutional img{
    max-width: 550px;
}
.institutional div{
    padding: 1.875rem;
}

.institutional h6{
    font-weight: 400;
    font-size: .875rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin:0;
}

.institutional h4{
    font-size: 1.562rem;
    margin-top: 1rem;
}

.institutional p{
    font-size: 1.0625rem;
    line-height: 1.6875rem ;
    font-family: 'Roboto', sans-serif;
    margin: 2.5rem 0;
}

.btn-institutional:hover{
    color: var(--color-paragrafo);
    background: unset;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.349);
}

/* Sessão Quote */

.quote{
    background-image: url(../images/parallax.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container-quote{
    max-width: 1148px;
    min-height: 80vh;
    margin: 0 auto;
    display: grid;
    align-items: center;
    justify-content: end;
}

.quote-content{
    background-color: #fff;
    padding: 5.625rem 4.375rem;
    margin: 7rem 0;
}

.quote-content h6{
    font-weight: 400;
    font-size: .9375rem;
    letter-spacing: .1875rem;
    line-height: 1.4375rem;
    width: 53ch;
    text-transform: uppercase;
    margin: 0;
}

.quote-content h2{
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: -.1875rem;
    line-height: 5rem;
    margin: 1.875rem;
}

.quote-content h2 span{
    display: block;
}

.btn-quote{
    color: var(--color-paragrafo);
    border-color: var(--color-paragrafo);
    background: unset;
}

/* Footer */

.footer{
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
    align-items: center;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 5.25rem 0;
}

.footer .logo{
    justify-self: start;
    margin: 0;
}

.footer-form{
    display: grid;
}

.footer-form label{
    font-size: .875rem;
    font-weight: 300;
}

.footer-email{
    width: 100%;
    display: grid;
    grid-template-columns: auto 3.375rem;
}

.footer-form input{
    background-color: var(--color-primary);
    border: unset;
    padding: 1rem;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.footer-form input::placeholder{
    color: #000;
}
.footer-form input:focus{
    outline: unset;
}

.footer-form button{
    border: unset;
    height: 100%;
    cursor: pointer;
    transition: 0.3s all ease;
}

.footer-form button:hover{
    color: #fff;
    background-color: var(--color-paragrafo);
}

.footer-social{
    justify-self: end;
    text-align: center;
}

.footer ul li {
    list-style: none;
    padding-bottom: 1rem;
}

.footer-social a,
.footer-social a:visited,
.footer-social a{
    color: #fff;
    margin-left: 0.2rem;
}

.footer-social a .fa-twitter,
.footer-social a:visited .fa-twitter,
.footer-social a .fa-twitter{
    color: #000;
}

.footer hr{
    border-color: #fff4;
    margin: 0;
}

.footer p{
    text-align: center;
    font-size: .875rem;
    font-weight: 300;
    margin: 2.5rem 0;
}







