@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');



*{
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    --color-primary:#ffc500;
    --default-padding: 1rem;
}
body{
    padding-top: 7em;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    background-color: #000;
    color: #fff;
    padding: 2rem;
    z-index: 1;
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-self: end;
}

.navbar ul li{
    margin-right: 3rem;
    font-size: .875rem;
    text-transform: uppercase;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    font-weight: 300;
}

.navbar ul li a:hover{
    color: var(--color-primary) ;
}

.logo{
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    font-size: 2.375rem;
    line-height: 1ch;
}

.logo-subtitle{
    font-weight: 300;
    font-size: .875rem;
    display: flex;
    flex-direction: column;
}

.copy-primary{
    color: var(--color-primary);
}

/* Sessão Slide */
#slider{
    background-color: #000;
    color: #fff;
}

.slide {
    height: calc(100vh - 7rem);
    position: relative;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content{
    position: absolute;
    top: 6.25rem;
    left: 50%;
}

.content h6{
    font: .9375rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1875rem;
}

.content h2{
    font-size: 6.25rem;
    text-transform: uppercase;
    line-height: 6.25rem;
}

.content h2 span{
    display: block;
}

.content span{
    color: var(--color-primary);
}

.btn{
    padding: 1rem 2.5rem;
    background-color: unset;
    color: var(--color-primary);
    border: .125rem solid #fff;
    border-radius: 5rem;
    font-size: .9375rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus {
    border-color: var(--color-primary);
    background-color: #ffc500;
    color: #fff;
}










